<h2 mat-dialog-title>Termin löschen</h2>
<mat-dialog-content class="mat-typography">
    <div class="modal">
        <div class="modal-content">
            <h3>Möchten sie wirklich diesen Termin löschen?</h3>
            <div class="actions">
                <button type="button" class="cancel" (click)="cancel()">Abbrechen</button>
                <button type="button" class="delete-todo" (click)="confirmDelete()">Bestätigen</button>
            </div>
        </div>
    </div>
</mat-dialog-content>