<div class="main-container">

    <div class="container">
        <h1>Anstehende ToDos</h1>
        
        <table>
            <thead>

            </thead>
            <tbody>

            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>

    <div class="container">
        <h1>Anstehende Termine</h1>

        <table>
            <thead>

            </thead>
            <tbody>

            </tbody>
            <tfoot>
                
            </tfoot>
        </table>
    </div>

</div>