<mat-dialog-content>
    <div class="modal-overlay" (click)="closeDialog()">
      <div class="modal" (click)="$event.stopPropagation()">
        <div class="modal-content">
          <h2>Termin hinzufügen</h2>
          <form [formGroup]="appointmentForm" (submit)="submitAppointment()">
            <div class="form-fields">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Termin"
                  formControlName="title"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Deadline"
                  formControlName="date"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Beschreibung"
                  formControlName="description"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-select formControlName="users" multiple>
                  <mat-option *ngFor="let user of userList" [value]="user">
                    {{user.firstname}} {{user.lastname}} {{user?.id === user.id ? "(Ich)" : ""}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="actions">
              <button type="reset" class="cancel">Zurücksetzen</button>
              <button type="submit" class="add-appointment">Termin hinzufügen</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  