.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-todo {
    padding: 10px;
    border: none;
    border-radius: 0.5rem;
    background-color: #c20000;
    color: white;
    cursor: pointer;
}

.cancel {
    padding: 10px;
    border: none;
    border-radius: 0.5rem;
    outline:1px solid rgb(136, 136, 136);
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}