/*Für die Sidenav: wenn man auf Dashboard, ToDo oder Termine ist*/
.main-content {
    transition: margin-left 0.3s ease;
    margin-left: 19.5%; //Wegen Sidenav 
}
//Für Login und Register
.main-content.full-width {
    margin-left: 0;
    width: 100%;
}

/*Logout Button :-)*/
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 10px;
    margin-right: 1rem;
}

.logout button {
    background-color: rgb(170, 170, 170);
    color: white;
    border: none;
    padding: 7px 7px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout button:hover {
    background-color: rgb(99, 99, 99);
}

.logout button:active {
    background-color: rgb(70, 70, 70);
}
/*Logout Button Ende :-o*/